@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

.cart {
  position: fixed;
  width: 100%;
  top: 10.5%;

  display: flex;
  justify-content: center;

  @include breakpoint(desktop) {
    width: 30%;
    right: 5%;
  }

  &__wrapper {
    width: 90%;

    background-color: $white;
    border-radius: 10px;
    box-shadow: 2px 20px 20px rgba(128, 128, 128, 0.459);

    @include breakpoint(desktop) {
      width: 70%;
    }
  }

  &__header {
    padding: 20px;
    border-bottom: 0.5px solid $grayishBlue;

    .title {
      font-weight: $boldWg;
    }
  }

  &__content {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;

    @include breakpoint(desktop) {
      padding: 15px;
      gap: 10px;
    }

    .empty {
      height: 150px;

      display: flex;
      justify-content: center;
      align-items: center;

      color: $darkGrayishBlue;
      font-weight: $boldWg;

      @include breakpoint(desktop) {
        height: 100px;
      }
    }

    .item {
      display: flex;
      align-items: center;
      padding: 20px;

      @include breakpoint(desktop) {
        padding: 10px;
      }

      .items {
        display: flex;
        align-items: center;
        width: 100%;

        .img {
          max-width: 40px;
          border-radius: 5px;
        }

        .details {
          margin-left: 15px;

          .label {
            color: $darkGrayishBlue;
            width: 80%;
            margin-bottom: 3px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @include breakpoint(desktop) {
              text-overflow: unset;
              overflow: unset;

              font-size: $smFz;
            }
          }

          .pricing {
            color: $darkGrayishBlue;
          }

          .total {
            margin-left: 5px;
            color: $black;
            font-weight: $boldWg;
          }
        }

        .delete {
          width: 25px;
          height: 25px;
        }
      }
    }

    .checkout {
      margin: 0 auto;
      margin-bottom: 10px;
      width: 90%;
      padding: 10px 0;

      background-color: $orange;
      color: white;
      border: none;
      border-radius: 10px;
    }
  }
}
