@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

@include breakpoint(desktop) {
  .content {
    margin-top: 0px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
