@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

/* Mixins */

@mixin widths {
  margin: 0 auto;
  width: 95%;
}

/* CSS Start */

.desc {
  display: grid;
  gap: 16px;
  padding: 16px;
}

.desc__title {
  text-transform: uppercase;
  color: $orange;
  font-weight: $boldWg;

  letter-spacing: 4px;
}

.desc__sub-title {
  font-size: $xlFz;
  font-weight: $boldWg;
}

.desc__para {
  color: $darkGrayishBlue;
  line-height: 32px;
}

.desc__pricing--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desc__pricing--row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.desc__pricing--total {
  font-size: $lgFz;
  font-weight: $boldWg;
}

.desc__pricing--sale {
  padding: 4px 8px;
  border-radius: 5px;

  color: $orange;
  background-color: $paleOrange;
}

.desc__pricing--slashed {
  color: $grayishBlue;
}

.desc__footer {
  margin-top: 8px;
}

.desc__quanity {
  @include widths;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #f7f8fd;
  padding: 16px 20px;
  border-radius: 10px;
}

.desc__quanity--current {
  font-weight: $boldWg;
}

.desc__quanity--btn {
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.4;
  }
}

.desc__add--btn {
  @include widths;
  margin-top: 12px;
  padding: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  color: white;
  background-color: $orange;
  box-shadow: 0px 20px 40px $orangeFaded;

  border: none;
  border-radius: 10px;

  cursor: pointer;
  transition: 0.4s;

  &:active {
    transform: scale(0.8);
  }
}

.desc__add--cart > path {
  fill: white;
}

/* 

      BREAKPOINTS

*/

@include breakpoint(desktop) {
  .desc {
    padding: 40px;
    padding-top: 20px;
    gap: unset;
  }

  .desc__title {
    font-size: $smFz;

    display: flex;
    align-items: flex-end;
    margin-bottom: 12px;
  }

  .desc__sub-title {
    font-size: $xxlFz;
  }

  .desc__pricing--wrapper {
    display: block;
  }

  .desc__pricing--row {
    margin-bottom: 12px;
  }

  .desc__footer {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .desc__quanity {
    width: 50%;
  }

  .desc__add--btn {
    margin-top: unset;
    &:hover {
      opacity: 0.4;
    }
  }
}
