@use "../abstracts/variables" as *;

.lightbox {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $backdrop;

  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox__wrapper {
  border: 3px solid $orange;
}
