@use "../abstracts/variables" as *;
@use "../utils/breakpoints" as *;

/* Mixins */

@mixin coverCopy {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin slideBtns {
  border: none;
  border-radius: 50%;

  background-color: $white;
}
@mixin productCopy {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@mixin selectionBtns {
  img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;

    cursor: pointer;

    &:hover {
      opacity: 0.3;
    }
  }

  .selected {
    border-radius: 15px;
    border: 3px solid $orange;
    img {
      opacity: 0.3;
    }
  }
}

/* CSS START */

.product-display {
  height: 290px;
}

.product-display__wrapper {
  position: relative;
  height: 100%;
}

.product-display__img {
  @include productCopy;
}

.product-display__cover {
  @include coverCopy;
}

.product-display__slide-btn {
  @include slideBtns;

  margin: 0 10px;
  width: 40px;
  height: 40px;
}

.product-display__selection {
  display: none;
  @include selectionBtns;
}

/* 

    LIGHTBOX

*/

.light-box {
  @include coverCopy;
}

.light-box__img {
  @include productCopy;

  margin-bottom: 10px;
  border-radius: 20px;
}

.light-box__close {
  margin: 10px 0;
  float: right;

  border: none;
  background: none;

  cursor: pointer;
  transition: all 300ms ease;

  &:hover > svg > path {
    fill: $orange;
  }

  svg > path {
    fill: $white;
  }
}

.light-box__container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.light-box__slide-btns {
  @include slideBtns;
  width: 48px;
  height: 48px;

  transition: all 300ms ease;
  cursor: pointer;

  &:hover {
    width: 52px;
    height: 52px;

    svg > path {
      stroke: $orange;
    }
  }

  &:active {
    height: 44px;
    width: 44px;
  }

  &--left {
    transform: translateX(-28px);
  }

  &--right {
    transform: translateX(28px);
  }
}

.light-box__selection {
  @include selectionBtns;
  width: 80%;
  gap: 25px;
  display: flex;
}

/* 

      BREAKPOINTS

*/

@include breakpoint(desktop) {
  .product-display {
    height: unset;
    padding: 50px;

    display: flex;
    flex-direction: column;
  }

  .product-display__img {
    height: 93%;
    object-fit: unset;
    border-radius: 20px;

    cursor: pointer;
  }

  .product-display__cover {
    display: none;
  }

  .product-display__selection {
    width: 100%;

    display: flex;
    gap: 30px;
  }
}
